<section class="relative flex justify-end -mx-3 pt-42 pb-21 before:absolute before:w-3/4 before:h-full before:top-0 before:bg-indigo-950">
    <picture class="absolute left-0 top-42">
        <source media='(min-width: 1024 px)' srcset='banner1.png'>
        <source media='(min-width: 768px)' srcset='banner1.png'>
        <img src='banner1.png'>
    </picture>
    <div class="w-3xl px-3.5 mr-9 py-35 z-10">
        <h1 class="font-bold text-7xl mb-8 leading-[1.2]">I’m Robin Williams. A Product Designer <span class="text-gray-400">based in Italy.</span></h1>
        <p class="text-lg">I’m probably the most passionate designer you will ever get to work with. If you have a great project that needs some amazing skills, I’m your guy.</p>
</section>