<div class="modal" id="modal-register">
    <div class="modal-body">
        <form class="grid gap-5">
            <div>
                <label for="login">Введіть ім'я</label>
                <input id="login" type="text" placeholder="login" class="border">
            </div>
            <div>
                <label for="password">Введіть пароль</label>
                <input id="password" type="text" placeholder="password" class="border">
            </div>
            <a href="#" class="text-red-400 hover:text-red-600">реєстрація</a>
            <div class="flex gap-3">
                 <button type="submit" class="px-8 py-3 bg-blue-400 hover:bg-blue-600 cursor-pointer">ok</button>
                 <button type="button" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer" data-close-modal>close window</button>
            </div>

        </form>
        <button type="button" class="px-8 py-3 bg-pink-300 hover:bg-pink-600 cursor-pointer" data-close-modal>close window</button>
    </div>
</div>
<div class="modal" id="modal-register">
    <div class="modal-body">
        <h2>modal-register</h2>
        <button type="button" class="px-8 py-3 bg-pink-300 hover:bg-pink-600 cursor-pointer" data-close-modal>close window</button>
    </div>
</div>
<div class="modal" id="modal-3">
    <div class="modal-body">
        <h2>modal-3</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum doloribus, vel ad quasi consectetur veritatis esse hic, iure accusamus quae suscipit dicta vitae deserunt facilis consequuntur quibusdam, dolor eaque quas.
        <button type="button" id="close-window" class="px-8 py-3 bg-pink-300 hover:bg-pink-600 cursor-pointer" data-close-modal>close window</button>
    </div>
</div>
<div class="modal" id="modal-4">
    <div class="modal-body">
        <h2>modal-4</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum doloribus, vel ad quasi consectetur veritatis esse hic, iure accusamus quae suscipit dicta vitae deserunt facilis consequuntur quibusdam, dolor eaque quas.
        <button type="button" id="close-window" class="px-8 py-3 bg-pink-300 hover:bg-pink-600 cursor-pointer" data-close-modal>close window</button>
    </div>
</div>