@import url("https://fonts.google.com/specimen/Funnel+Display");
@import "tailwindcss";

@theme {
  --color-stone: #222831;
  --color-neutral: #393e46;
  --color-cyan: #1bf5ff;
  --color-brand-text: #eeeeee;

  --text-h1: 48px;
  --text-h2: 42px;
  --text-h3: 36px;
  --text-h4: 28px;
  --text-h5: 24px;
  --text-h6: 20px;

  --margin-template: 100px;
  --padding-template: 100px;

  --font-funnel-display: "Funnel Display", sans-serif;
}

@layer components {
  body {
    font-family: var(font-funnel-display);
  }

  h1 {
    font-size: var(text-h1);
    color: var(color-cyan);
  }
}
