@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import "tailwindcss";


@theme {
  --color-purple: #5221E6;
  --color-neutral-300: #c4c4c4;
  --color-indigo-950: #181823;
  --color-gray-400: #808080;
  --color-gray-500: #8491A0;
  --color-amber-100: #FFF3E4;
  --color-pink-100: #FBE4FF;

  --text-9xl: 117px;

  --font-sen: "Sen", sans-serif;

  --container-4xl: 1116px;
  --container-5xl: 1320px;
  --container-7xl: 1464px;
}

@layer components {

  .banner-title {
    font-size: 32px;

    @media (min-width: 768px) {
      font-size: 56px;
    }

    @media (min-width: 1024px) {
      font-size: 78px;
    }
  }
}

[alt=""] {
  filter: blur(10px);
  opacity: 0.6;
}

.swiper {
  width: 600px;
  height: 300px;
}


